/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2016, 5:14:52 PM
    Author     : Danielle
*/

body{
    background-color: aquamarine;
    font-family: sans-serif;
    color: white;     
}
h1{
    font-size: 16pt;
    text-align: center;
}

